```
The main entry point for cardiovascular disease 
Amer Ahmed
Amir Ramic
Supervisor: Joakim Wassberg
Version: 0.0.1
```

In [26]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from matplotlib import rcParams
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [27]:
data = pd.read_csv('./Datasets/heart_disease.csv', sep=';')

In [28]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

Modified  age

In [29]:
data['age'] = round(data['age']/365.25,2).astype('int')

There is no duplicated

In [30]:
data.duplicated().sum()

0

Drop id column

In [31]:
data.drop("id",axis=1,inplace=True)