In [217]:
#import data
import pandas as pd
# import pandas_profiling as pp

data = pd.read_csv(r'dataset_of_diabetes.csv')
data.head(5)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [218]:
# show the data of how many rows and columns
data.shape

(1000, 14)

In [219]:
# discription of the current data set
data.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [220]:
data.tail()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [221]:
# check out if the data has all the data
data.isnull().values.any()

False

In [222]:
# to know the Dtype of the features
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [223]:
data['CLASS'].value_counts(normalize=True)

Y     0.840
N     0.102
P     0.053
Y     0.004
N     0.001
Name: CLASS, dtype: float64

In [224]:
data['Gender'] = data.apply(lambda row: 0 if row['Gender'] == 'F' else 1, axis=1)

In [225]:
data['Gender'].value_counts(normalize=True)

1    0.566
0    0.434
Name: Gender, dtype: float64

In [226]:
data.CLASS.unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [227]:
def fix_class(row):
    if row['CLASS'] == 'N':
        return 0
    elif row['CLASS'] == 'P':
        return 1
    elif row['CLASS'] == 'Y':
        return 2
    elif row['CLASS'] == 'N ':
        return 0
    elif row['CLASS'] == 'Y ':
        return 2

In [228]:
data['CLASS'] = data.apply(lambda row: fix_class(row), axis=1)
data.CLASS.unique()

array([0, 1, 2], dtype=int64)

In [229]:
data.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0

In [230]:
data.tail()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
995,200,454317,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,2
996,671,876534,1,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,2
997,669,87654,1,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,2
998,99,24004,1,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,2
999,248,24054,1,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,2

#Format independent variables with one-hot encoding

In [231]:
data_new = pd.get_dummies(data, columns=['CLASS'])
data_new.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS_0,CLASS_1,CLASS_2
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,1,0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,1,0,0

In [232]:
data_new.drop(['ID', 'No_Pation'], axis=1)

,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS_0,CLASS_1,CLASS_2
0,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
1,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,1,0,0
2,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
3,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1,0,0
4,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,0,0,1
996,1,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,0,0,1
997,1,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,0,0,1
998,1,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,0,0,1
999,1,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,0,0,1

In [233]:
#Data Profiling Report
# pp.ProfileReport(data_new)

In [247]:
# data_new.nsmallest(10, ['BMI'])
# data_new.nsmallest(10, ['Urea']) # low on urea seems to indicate diabetes
# data_new.nsmallest(10, ['Cr']) # not really much difference between classes
# data_new.nsmallest(10, ['HbA1c']) # more difference but doesn't seem to stand on it's own
# data_new.nsmallest(10, ['Chol']) # not significant difference between classes
# data_new.nsmallest(10, ['TG']) # not significant difference between classes
# data_new.nsmallest(10, ['HDL']) # low HDL seem to be indicator of diabetes
# data_new.nsmallest(10, ['LDL']) # low LDL seem to be quite a good indicator as well
# data_new.nsmallest(10, ['VLDL']) # gave mixed results on lower values

# data_new.nlargest(10, ['BMI']) # high values = diabetes
# data_new.nlargest(10, ['Urea']) # high values indicate diabetes
# data_new.nlargest(10, ['Cr']) # high values indicate diabetes
# data_new.nlargest(10, ['HbA1c']) #high values indicate diabetes
# data_new.nlargest(10, ['Chol']) # mixed results
# data_new.nlargest(10, ['TG']) # high TG indicate diabetes
# data_new.nlargest(10, ['HDL']) #High HDL is an indicator of diabetes
# data_new.nlargest(10, ['LDL']) #high LDL is a strong indicator as well
# data_new.nlargest(10, ['VLDL']) #high VLDL is a strong indicator as well